html{	font-size:10px;	/*font-size:10px*/}
@media (max-width: 1199.98px) {
	html{	font-size:9.5px;}
}
@media (max-width: 991.98px) {
	html{	font-size:9px;}
}
@media (max-width: 767.98px) {
	html{	font-size:8.5px;}
}
@media (max-width: 575.98px) {
	html{	font-size:8px;}
}

body{font-size:1.4rem; overflow-x:hidden;}

@media (min-width: 1199.98px){
	.container, 
	.container-lg, 
	.container-md, 
	.container-sm,
	.container-xl {
		max-width: 950px;
	}
}
p{
	margin-bottom:0;
}
a{
	text-decoration:none !important;
}


/*가로*/
.w10{width:10px !important;}
.w20{width:20px !important;}
.w30{width:30px !important;}
.w40{width:40px !important;}
.w50{width:50px !important;}
.w60{width:60px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w90{width:90px !important;}
.w100{width:100px !important;}
.w110{width:110px !important;}
.w120{width:120px !important;}
.w130{width:130px !important;}
.w140{width:140px !important;}
.w150{width:150px !important;}
.w160{width:160px !important;}
.w170{width:170px !important;}
.w180{width:180px !important;}
.w190{width:190px !important;}
.w200{width:200px !important;}
.w210{width:210px !important;}
.w220{width:220px !important;}
.w230{width:230px !important;}
.w240{width:240px !important;}
.w250{width:250px !important;}
.w260{width:260px !important;}
.w270{width:270px !important;}
.w280{width:280px !important;}
.wp100 {width:100% !important;}
.wp90 {width:90% !important;}
.wp80 {width:80% !important;}
.wp70 {width:70% !important;}
.wp60 {width:60% !important;}
.wp50 {width:50% !important;}
.wp40 {width:40% !important;}
.wp30 {width:30% !important;}
.wp20 {width:20% !important;}
.wp10 {width:10% !important;}

/**/
/* margin */
.mt_1 {margin-top:-1px !important;}
.mt0 {margin-top:0px !important;}
.mt02 {margin-top:2px !important;}
.mt03 {margin-top:3px !important;}
.mt04 {margin-top:4px !important;}
.mt05 {margin-top:5px !important;}
.mt08 {margin-top:8px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt70 {margin-top:70px !important;}
.mt80 {margin-top:80px !important;}

.mb0 {margin-bottom:0px !important;}
.mb03 {margin-bottom:3px !important;}
.mb05 {margin-bottom:5px !important;}
.mb06 {margin-bottom:6px !important;}
.mb07 {margin-bottom:7px !important;}
.mb08 {margin-bottom:8px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb70 {margin-bottom:70px !important;}
.mb80 {margin-bottom:80px !important;}

.ml03 {margin-left:3px !important;}
.ml04 {margin-left:4px !important;}
.ml05 {margin-left:5px !important;}
.ml08 {margin-left:8px !important;}
.ml10 {margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml25 {margin-left:25px !important;}
.ml30 {margin-left:30px !important;}
.ml35 {margin-left:35px !important;}
.ml40 {margin-left:40px !important;}
.ml50 {margin-left:50px !important;}
.ml55 {margin-left:55px !important;}
.ml60 {margin-left:60px !important;}
.ml70 {margin-left:70px !important;}
.ml80 {margin-left:80px !important;}

.mr0 {margin-right:0px !important;}
.mr05 {margin-right:5px !important;}
.mr08 {margin-right:8px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.mr20 {margin-right:20px !important;}
.mr25 {margin-right:25px !important;}
.mr30 {margin-right:30px !important;}
.mr35 {margin-right:35px !important;}
.mr40 {margin-right:40px !important;}
.mr50 {margin-right:50px !important;}
.mr55 {margin-right:55px !important;}
.mr60 {margin-right:60px !important;}
.mr80 {margin-right:80px !important;}

/* padding */
.pt0 {padding-top:0px !important;}
.pt05 {padding-top:5px !important;}
.pt08 {padding-top:8px !important;}
.pt10 {padding-top:10px !important;}
.pt12 {padding-top:12px !important;}
.pt13 {padding-top:13px !important;}
.pt14 {padding-top:14px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt50 {padding-top:50px !important;}
.pt55 {padding-top:55px !important;}
.pt60 {padding-top:60px !important;}
.pt70 {padding-top:70px !important;}
.pt80 {padding-top:80px !important;}


.pb0 {padding-bottom:0px !important;}
.pb03 {padding-bottom:3px !important;}
.pb05 {padding-bottom:5px !important;}
.pb08 {padding-bottom:8px !important;}
.pb10 {padding-bottom:10px !important;}
.pb12 {padding-bottom:12px !important;}
.pb13 {padding-bottom:13px !important;}
.pb14 {padding-bottom:14px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb55 {padding-bottom:55px !important;}
.pb60 {padding-bottom:60px !important;}
.pb70 {padding-bottom:70px !important;}
.pb80 {padding-bottom:80px !important;}

.pl02 {padding-left:2px !important;}
.pl03 {padding-left:3px !important;}
.pl04 {padding-left:4px !important;}
.pl05 {padding-left:5px !important;}
.pl08 {padding-left:8px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl30 {padding-left:30px !important;}
.pl35 {padding-left:35px !important;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}
.pl50 {padding-left:50px !important;}
.pl55 {padding-left:55px !important;}
.pl60 {padding-left:60px !important;}
.pl70 {padding-left:70px !important;}
.pl80 {padding-left:80px !important;}

.pr0 {padding-right:0px !important;}
.pr05 {padding-right:5px !important;}
.pr08 {padding-right:8px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr35 {padding-right:35px !important;}
.pr40 {padding-right:40px !important;}
.pr45 {padding-right:45px !important;}
.pr50 {padding-right:50px !important;}
.pr55 {padding-right:55px !important;}
.pr60 {padding-right:60px !important;}
.pr65 {padding-right:65px !important;}
.pr70 {padding-right:70px !important;}
.pr80 {padding-right:80px !important;}

@media(max-width:991.98px){

	.mt0-sm {margin-top:0px !important;}
	.mt02-sm {margin-top:2px !important;}
	.mt03-sm {margin-top:3px !important;}
	.mt04-sm {margin-top:4px !important;}
	.mt05-sm {margin-top:5px !important;}
	.mt08-sm {margin-top:8px !important;}
	.mt10-sm {margin-top:10px !important;}
	.mt15-sm {margin-top:15px !important;}
	.mt20-sm {margin-top:20px !important;}
	.mt25-sm {margin-top:25px !important;}
	.mt30-sm {margin-top:30px !important;}
	.mt35-sm {margin-top:35px !important;}
	.mt40-sm {margin-top:40px !important;}
	.mt50-sm {margin-top:50px !important;}
	.mt55-sm {margin-top:55px !important;}
	.mt60-sm {margin-top:60px !important;}
	.mt70-sm {margin-top:70px !important;}
	.mt80-sm {margin-top:80px !important;}

	.mb0-sm {margin-bottom:0px !important;}
	.mb03-sm {margin-bottom:3px !important;}
	.mb05-sm {margin-bottom:5px !important;}
	.mb06-sm {margin-bottom:6px !important;}
	.mb07-sm {margin-bottom:7px !important;}
	.mb08-sm {margin-bottom:8px !important;}
	.mb10-sm {margin-bottom:10px !important;}
	.mb15-sm {margin-bottom:15px !important;}
	.mb20-sm {margin-bottom:20px !important;}
	.mb25-sm {margin-bottom:25px !important;}
	.mb30-sm {margin-bottom:30px !important;}
	.mb35-sm {margin-bottom:35px !important;}
	.mb40-sm {margin-bottom:40px !important;}
	.mb50-sm {margin-bottom:50px !important;}
	.mb55-sm {margin-bottom:55px !important;}
	.mb60-sm {margin-bottom:60px !important;}
	.mb70-sm {margin-bottom:70px !important;}
	.mb80-sm {margin-bottom:80px !important;}

	.ml03-sm {margin-left:3px !important;}
	.ml04-sm {margin-left:4px !important;}
	.ml05-sm {margin-left:5px !important;}
	.ml08-sm {margin-left:8px !important;}
	.ml10-sm {margin-left:10px !important;}
	.ml15-sm {margin-left:15px !important;}
	.ml20-sm {margin-left:20px !important;}
	.ml25-sm {margin-left:25px !important;}
	.ml30-sm {margin-left:30px !important;}
	.ml35-sm {margin-left:35px !important;}
	.ml40-sm {margin-left:40px !important;}
	.ml50-sm {margin-left:50px !important;}
	.ml55-sm {margin-left:55px !important;}
	.ml60-sm {margin-left:60px !important;}
	.ml70-sm {margin-left:70px !important;}
	.ml80-sm {margin-left:80px !important;}

	.mr0-sm {margin-right:0px !important;}
	.mr05-sm {margin-right:5px !important;}
	.mr08-sm {margin-right:8px !important;}
	.mr10-sm {margin-right:10px !important;}
	.mr15-sm {margin-right:15px !important;}
	.mr20-sm {margin-right:20px !important;}
	.mr25-sm {margin-right:25px !important;}
	.mr30-sm {margin-right:30px !important;}
	.mr35-sm {margin-right:35px !important;}
	.mr40-sm {margin-right:40px !important;}
	.mr50-sm {margin-right:50px !important;}
	.mr55-sm {margin-right:55px !important;}
	.mr60-sm {margin-right:60px !important;}
	.mr80-sm {margin-right:80px !important;}

	/* padding */
	.pt0-sm {padding-top:0px !important;}
	.pt05-sm {padding-top:5px !important;}
	.pt08-sm {padding-top:8px !important;}
	.pt10-sm {padding-top:10px !important;}
	.pt12-sm {padding-top:12px !important;}
	.pt13-sm {padding-top:13px !important;}
	.pt14-sm {padding-top:14px !important;}
	.pt15-sm {padding-top:15px !important;}
	.pt20-sm {padding-top:20px !important;}
	.pt25-sm {padding-top:25px !important;}
	.pt30-sm {padding-top:30px !important;}
	.pt35-sm {padding-top:35px !important;}
	.pt40-sm {padding-top:40px !important;}
	.pt50-sm {padding-top:50px !important;}
	.pt55-sm {padding-top:55px !important;}
	.pt60-sm {padding-top:60px !important;}
	.pt70-sm {padding-top:70px !important;}
	.pt80-sm {padding-top:80px !important;}


	.pb0-sm {padding-bottom:0px !important;}
	.pb03-sm {padding-bottom:3px !important;}
	.pb05-sm {padding-bottom:5px !important;}
	.pb08-sm {padding-bottom:8px !important;}
	.pb10-sm {padding-bottom:10px !important;}
	.pb12-sm {padding-bottom:12px !important;}
	.pb13-sm {padding-bottom:13px !important;}
	.pb14-sm {padding-bottom:14px !important;}
	.pb15-sm {padding-bottom:15px !important;}
	.pb20-sm {padding-bottom:20px !important;}
	.pb25-sm {padding-bottom:25px !important;}
	.pb30-sm {padding-bottom:30px !important;}
	.pb35-sm {padding-bottom:35px !important;}
	.pb40-sm {padding-bottom:40px !important;}
	.pb45-sm {padding-bottom:45px !important;}
	.pb50-sm {padding-bottom:50px !important;}
	.pb55-sm {padding-bottom:55px !important;}
	.pb60-sm {padding-bottom:60px !important;}
	.pb70-sm {padding-bottom:70px !important;}
	.pb80-sm {padding-bottom:80px !important;}

	.pl02-sm {padding-left:2px !important;}
	.pl03-sm {padding-left:3px !important;}
	.pl04-sm {padding-left:4px !important;}
	.pl05-sm {padding-left:5px !important;}
	.pl08-sm {padding-left:8px !important;}
	.pl10-sm {padding-left:10px !important;}
	.pl15-sm {padding-left:15px !important;}
	.pl20-sm {padding-left:20px !important;}
	.pl25-sm {padding-left:25px !important;}
	.pl30-sm {padding-left:30px !important;}
	.pl35-sm {padding-left:35px !important;}
	.pl40-sm {padding-left:40px !important;}
	.pl45-sm {padding-left:45px !important;}
	.pl50-sm {padding-left:50px !important;}
	.pl55-sm {padding-left:55px !important;}
	.pl60-sm {padding-left:60px !important;}
	.pl70-sm {padding-left:70px !important;}
	.pl80-sm {padding-left:80px !important;}

	.pr0-sm {padding-right:0px !important;}
	.pr05-sm {padding-right:5px !important;}
	.pr08-sm {padding-right:8px !important;}
	.pr10-sm {padding-right:10px !important;}
	.pr15-sm {padding-right:15px !important;}
	.pr20-sm {padding-right:20px !important;}
	.pr25-sm {padding-right:25px !important;}
	.pr30-sm {padding-right:30px !important;}
	.pr35-sm {padding-right:35px !important;}
	.pr40-sm {padding-right:40px !important;}
	.pr45-sm {padding-right:45px !important;}
	.pr50-sm {padding-right:50px !important;}
	.pr55-sm {padding-right:55px !important;}
	.pr60-sm {padding-right:60px !important;}
	.pr65-sm {padding-right:65px !important;}
	.pr70-sm {padding-right:70px !important;}
	.pr80-sm {padding-right:80px !important;}
}
@media(max-width:767.98px){

	.mt0-xs {margin-top:0px !important;}
	.mt02-xs {margin-top:2px !important;}
	.mt03-xs {margin-top:3px !important;}
	.mt04-xs {margin-top:4px !important;}
	.mt05-xs {margin-top:5px !important;}
	.mt08-xs {margin-top:8px !important;}
	.mt10-xs {margin-top:10px !important;}
	.mt15-xs {margin-top:15px !important;}
	.mt20-xs {margin-top:20px !important;}
	.mt25-xs {margin-top:25px !important;}
	.mt30-xs {margin-top:30px !important;}
	.mt35-xs {margin-top:35px !important;}
	.mt40-xs {margin-top:40px !important;}
	.mt50-xs {margin-top:50px !important;}
	.mt55-xs {margin-top:55px !important;}
	.mt60-xs {margin-top:60px !important;}
	.mt70-xs {margin-top:70px !important;}
	.mt80-xs {margin-top:80px !important;}

	.mb0-xs {margin-bottom:0px !important;}
	.mb03-xs {margin-bottom:3px !important;}
	.mb05-xs {margin-bottom:5px !important;}
	.mb06-xs {margin-bottom:6px !important;}
	.mb07-xs {margin-bottom:7px !important;}
	.mb08-xs {margin-bottom:8px !important;}
	.mb10-xs {margin-bottom:10px !important;}
	.mb15-xs {margin-bottom:15px !important;}
	.mb20-xs {margin-bottom:20px !important;}
	.mb25-xs {margin-bottom:25px !important;}
	.mb30-xs {margin-bottom:30px !important;}
	.mb35-xs {margin-bottom:35px !important;}
	.mb40-xs {margin-bottom:40px !important;}
	.mb50-xs {margin-bottom:50px !important;}
	.mb55-xs {margin-bottom:55px !important;}
	.mb60-xs {margin-bottom:60px !important;}
	.mb70-xs {margin-bottom:70px !important;}
	.mb80-xs {margin-bottom:80px !important;}

	.ml03-xs {margin-left:3px !important;}
	.ml04-xs {margin-left:4px !important;}
	.ml05-xs {margin-left:5px !important;}
	.ml08-xs {margin-left:8px !important;}
	.ml10-xs {margin-left:10px !important;}
	.ml15-xs {margin-left:15px !important;}
	.ml20-xs {margin-left:20px !important;}
	.ml25-xs {margin-left:25px !important;}
	.ml30-xs {margin-left:30px !important;}
	.ml35-xs {margin-left:35px !important;}
	.ml40-xs {margin-left:40px !important;}
	.ml50-xs {margin-left:50px !important;}
	.ml55-xs {margin-left:55px !important;}
	.ml60-xs {margin-left:60px !important;}
	.ml70-xs {margin-left:70px !important;}
	.ml80-xs {margin-left:80px !important;}

	.mr0-xs {margin-right:0px !important;}
	.mr05-xs {margin-right:5px !important;}
	.mr08-xs {margin-right:8px !important;}
	.mr10-xs {margin-right:10px !important;}
	.mr15-xs {margin-right:15px !important;}
	.mr20-xs {margin-right:20px !important;}
	.mr25-xs {margin-right:25px !important;}
	.mr30-xs {margin-right:30px !important;}
	.mr35-xs {margin-right:35px !important;}
	.mr40-xs {margin-right:40px !important;}
	.mr50-xs {margin-right:50px !important;}
	.mr55-xs {margin-right:55px !important;}
	.mr60-xs {margin-right:60px !important;}
	.mr80-xs {margin-right:80px !important;}

	/* padding */
	.pt0-xs {padding-top:0px !important;}
	.pt05-xs {padding-top:5px !important;}
	.pt08-xs {padding-top:8px !important;}
	.pt10-xs {padding-top:10px !important;}
	.pt12-xs {padding-top:12px !important;}
	.pt13-xs {padding-top:13px !important;}
	.pt14-xs {padding-top:14px !important;}
	.pt15-xs {padding-top:15px !important;}
	.pt20-xs {padding-top:20px !important;}
	.pt25-xs {padding-top:25px !important;}
	.pt30-xs {padding-top:30px !important;}
	.pt35-xs {padding-top:35px !important;}
	.pt40-xs {padding-top:40px !important;}
	.pt50-xs {padding-top:50px !important;}
	.pt55-xs {padding-top:55px !important;}
	.pt60-xs {padding-top:60px !important;}
	.pt70-xs {padding-top:70px !important;}
	.pt80-xs {padding-top:80px !important;}


	.pb0-xs {padding-bottom:0px !important;}
	.pb03-xs {padding-bottom:3px !important;}
	.pb05-xs {padding-bottom:5px !important;}
	.pb08-xs {padding-bottom:8px !important;}
	.pb10-xs {padding-bottom:10px !important;}
	.pb12-xs {padding-bottom:12px !important;}
	.pb13-xs {padding-bottom:13px !important;}
	.pb14-xs {padding-bottom:14px !important;}
	.pb15-xs {padding-bottom:15px !important;}
	.pb20-xs {padding-bottom:20px !important;}
	.pb25-xs {padding-bottom:25px !important;}
	.pb30-xs {padding-bottom:30px !important;}
	.pb35-xs {padding-bottom:35px !important;}
	.pb40-xs {padding-bottom:40px !important;}
	.pb45-xs {padding-bottom:45px !important;}
	.pb50-xs {padding-bottom:50px !important;}
	.pb55-xs {padding-bottom:55px !important;}
	.pb60-xs {padding-bottom:60px !important;}
	.pb70-xs {padding-bottom:70px !important;}
	.pb80-xs {padding-bottom:80px !important;}

	.pl02-xs {padding-left:2px !important;}
	.pl03-xs {padding-left:3px !important;}
	.pl04-xs {padding-left:4px !important;}
	.pl05-xs {padding-left:5px !important;}
	.pl08-xs {padding-left:8px !important;}
	.pl10-xs {padding-left:10px !important;}
	.pl15-xs {padding-left:15px !important;}
	.pl20-xs {padding-left:20px !important;}
	.pl25-xs {padding-left:25px !important;}
	.pl30-xs {padding-left:30px !important;}
	.pl35-xs {padding-left:35px !important;}
	.pl40-xs {padding-left:40px !important;}
	.pl45-xs {padding-left:45px !important;}
	.pl50-xs {padding-left:50px !important;}
	.pl55-xs {padding-left:55px !important;}
	.pl60-xs {padding-left:60px !important;}
	.pl70-xs {padding-left:70px !important;}
	.pl80-xs {padding-left:80px !important;}

	.pr0-xs {padding-right:0px !important;}
	.pr05-xs {padding-right:5px !important;}
	.pr08-xs {padding-right:8px !important;}
	.pr10-xs {padding-right:10px !important;}
	.pr15-xs {padding-right:15px !important;}
	.pr20-xs {padding-right:20px !important;}
	.pr25-xs {padding-right:25px !important;}
	.pr30-xs {padding-right:30px !important;}
	.pr35-xs {padding-right:35px !important;}
	.pr40-xs {padding-right:40px !important;}
	.pr45-xs {padding-right:45px !important;}
	.pr50-xs {padding-right:50px !important;}
	.pr55-xs {padding-right:55px !important;}
	.pr60-xs {padding-right:60px !important;}
	.pr65-xs {padding-right:65px !important;}
	.pr70-xs {padding-right:70px !important;}
	.pr80-xs {padding-right:80px !important;}
}


.fcGray6{
	color:#666;
}

.dp-inblock{
	display:inline-block;
}
.underline{
	text-decoration:underline;
}



.btn{
	height:54px;
	line-height:52px;
	border-radius:30px;
	font-size:1.6rem;
	padding:0 2rem;
	font-weight:600;
}
.btn.btn-green{
	background:#5acb42;
	color:#fff;
	border:1px solid #5acb42;
}
.btn.btn-gray{
	background:#787878;
	color:#fff;
	border:1px solid #787878;
}
.btn.btn-white-o{
	background:none;
	color:#fff;
	border:3px solid #fff;
	line-height:48px;
}

.form-control{
	height:36px;
	width:15rem;
	border:1px solid #f5f7f0;
	background:#f5f7f0;
	line-height:34px;
	padding:0px 15px;
	color:#222;
	font-size:1.4rem;
	border-radius:15px;
}
select.form-control{
	border:1px solid #5acb42;
	color:#222;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background:#f5f7f0 url(../img/icon/ic_arrow_down.png) no-repeat 92% center / 9px auto;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*
.checkbox{
	display:inline-block;
	overflow:hidden;
	position:relative;
}
.checkbox > input[type="checkbox"]{
	position:absolute;
	width:0;
	height:0;
	opacity:0;
	left:-100%;
}
.checkbox > label{
	position:relative;
	display:block;
	background:#5acb42;
	height:36px;
	width:65px;
	margin:0;
	border-radius:30px;
	cursor:pointer;
	opacity:.5;
}
.checkbox > label::after{
	content:"";
	position:absolute;
	width:28px;
	height:28px;
	left:4px;
	top:3px;
	background:#fff;
	border-radius:100%;
	transition:all .3s ease-in-out;
}
.checkbox > input[type="checkbox"]:checked + label{opacity:1;}
.checkbox > input[type="checkbox"]:checked + label::after{
	left:33px
}*/
.checkbox{}
.checkbox .MuiFormControl-root{
	display:block;
	position:relative;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root{
	display:block;
	margin:0;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root{
	position:relative;
	display:block;
	background:#5acb42;
	height:36px;
	width:65px;
	margin:0;
	border-radius:30px;
	cursor:pointer;
	opacity:.5;
	padding:0;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root.Mui-checked{
	opacity:1;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root .MuiIconButton-label{
	position:absolute;
	overflow:hidden;
	width:28px;
	height:28px;
	left:4px;
	top:3px;
	background:#fff;
	border-radius:100%;
	transition:all .3s ease-in-out;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root.Mui-checked .MuiIconButton-label{
	left:33px;
}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root .MuiIconButton-label svg{display:none !important;}
.checkbox .MuiFormControl-root .MuiFormControlLabel-root .MuiButtonBase-root .MuiIconButton-label input{width:0;height:0;left:-100px;}