@charset "utf-8";
@import "fonts.css";
@import "basic.css";
@import "layout.css";


#container section{}
#container section .search_option{
	position:relative;
	margin-bottom:2rem;
}
#container section .search_option > .option{
	float:left;
}
#container section .search_option > .option > div{
	float:left;
	margin-right:2rem;
}
#container section .search_option > .option > div > p:first-child,
#container section .search_option > .search > div > p:first-child{
	color:#a0a0a0;
	padding-bottom:.5rem;
	font-size:13px;
}

#container section .search_option > .search{
	float:right;
}
#container section .search_option > .search > div{
	float:left;
	margin-left:2rem;
}
#container section .search_option > .search input{
	width:220px;
}


.list_table{
	overflow:hidden;
	border-radius:15px;
	border:1px solid #eee;
}
.list_table > table{
	width:100%;
}
.list_table > table th{
	background:#f5f5f0;
	color:#a0a0a0;
	text-align:center;
	font-weight:400;
	font-size:13px;
	padding:10px;
}
.list_table > table tbody tr{
	cursor:pointer;
}
.list_table > table td{
	padding:20px 10px;
	text-align:center;
	background:#fff;
	vertical-align:middle;
}
.list_table > table .info td{
	border-bottom:1px solid #eee;
} 
.list_table > table .detail td{
	padding:0;
	border:0;
}

.list_table > table tbody > tr > td.cbl p:first-child{
	font-size:1.6rem;
	font-weight:600;
	color:#444;
	margin-bottom:1rem;
}
.list_table > table tbody > tr > td.cbl p:last-child > span{
	display:inline-block;
	padding:5px 12px;
	border-radius:20px;
	font-size:1.4rem;
	font-weight:500;
	margin:0px 3px;
}
.list_table > table tbody > tr > td.cbl p:last-child > span:first-child{
	background:#f3f7f2;
	color:#a6c7a1
}
.list_table > table tbody > tr > td.cbl p:last-child > span:last-child{
	background:#fff7f2;
	color:#ff9516
}
.list_table > table tbody > tr > td.apy p:first-child{
	font-size:2rem;
	font-weight:600;
	color:#444;
	margin-bottom:1rem;
}
.list_table > table tbody > tr > td.apy p:last-child{
	font-size:1.3rem;
	color:#666;
}
.list_table > table tbody > tr > td.tvl i{
	position:absolute;
	right:0;
}
.list_table > table tbody > tr > td.tvl p{
	font-size:1.6rem;
	font-weight:600;
	color:#444;
}

.list_table > table tbody > tr > td i.arrow{
	color:#5dcc46;
	font-size:22px;
	transition:all .3s ease-in-out;
}
.list_table > table tbody > tr.open > td i.arrow{
	transform: rotate(180deg);
}

.list_table > table tbody > tr > td.yv div > p{
	position:relative;
	color:#666;
	font-size:13px;
	text-align:left;
	padding:2px 0;
}
.list_table > table tbody > tr > td.yv div > p strong{
	float:right;
	color:#333;
	font-weight:600;
}
.list_table > table .detail .detail_box{
	background:#f5f5f0;
	display:none;
}
.list_table > table .detail .detail_box > .row{
	padding:40px 30px;
}
.list_table > table .detail .detail_box > .row > div{
	padding-left:10px;
	padding-right:10px;
}
.list_table > table .detail .detail_box > .row .box{
	background:#fff;
	border-radius:15px;
	padding:30px;
	border:1px solid #f0f0f0;
	min-height:564px;
}
.list_table > table .detail .detail_box > .row .box h4{
	text-align:left;
	font-weight:600;
	color:#444;
	margin-bottom:3rem;
	font-size:1.6rem;
}
.list_table > table .detail .detail_box > .row .box h4 span{
	float:right;
	font-weight:400;
}
.list_table > table .detail .detail_box > .row .box .price{
	position:relative;
}
.list_table > table .detail .detail_box > .row .box .price input{
	background:#f5f7f0;
	height:54px;
	padding:0px 20px;
	bordeR:0;
	border-radius:50px;
	width:100%;
	font-size:1.6rem;
	color:#666;
}
.list_table > table .detail .detail_box > .row .box .price a{
	position:absolute;
	right:7px;
	top:7px;
	height:40px;
	width:80px;
	text-align:center;
	line-height:40px;
	background:#fff;
	color:#5acb42;
	border-radius:50px;
	font-weight:400;
}
.list_table > table .detail .detail_box > .row .box dl{
	text-align:left;
	margin-top:4rem;
}
.list_table > table .detail .detail_box > .row .box dl dt{
	font-weight:600;
	font-size:1.5rem;
	color:#444;
}
.list_table > table .detail .detail_box > .row .box dl dd{
	font-size:12px;
	color:#888;
	padding-top:10px;
}


@media(max-width:767.98px){
	.list_table > table th{
		font-size:12px;
		padding:10px 5px;
	}
	.list_table > table td{
		padding:15px 3px;
	}
	.list_table > table td.as img{
		width:32px;
	}
	.list_table > table tbody > tr > td.apy p:first-child{
		font-size:1.7rem;
		margin-bottom:.5rem;
	}
	.list_table > table tbody > tr > td.tvl{
		position:relative;
	}
	.list_table > table tbody > tr > td.tvl p,
	.list_table > table tbody > tr > td.cbl p:first-child{
		font-size:1.5rem;
	}
	.list_table > table tbody > tr > td.cbl p:last-child > span{
		padding:3px 8px;
	}
	.list_table > table .detail .detail_box > .row{
		padding:20px 15px;
	}
	.list_table > table .detail .detail_box > .row .box{
		min-height:auto;
	}
}

.MuiInput-underline::before,
.MuiInput-underline::after{border:none !important}
.MuiSelect-icon{display:none !important}
.MuiInputBase-input{background:none !important}
.MuiPaper-root.MuiAppBar-root{transition:none !important}
.MuiMenuItem-root{font-size:1.4rem !important;}